filerepository:
  privateToken: your_secret_gitlab_token

filegroups:
  # cacheGroupDefinitions : boolean (default : true)
  cacheGroupDefinitions: false
  groupDefinitionLocations:
    - /path/to/file1.json
    - /path/to/file2.json
