<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: head"></head>
<body>
<nav th:replace="fragments/layout :: header"></nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Groups of properties</h2>
            <ul data-th-each="group : ${groups}">
                <li>
                    <a th:href="@{/analyze/{groupName}(groupName=${group.name})}"
                       th:text="${group.name}"
                       href="/analyze/test">test</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer th:replace="fragments/layout :: footer"></footer>

<div>
    <div th:replace="fragments/layout :: scripts"></div>
</div>
</body>
</html>